{%  extends 'base.html' %}
{% load i18n %}
{%  block content %}
<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Documentary watch
    </p>
    <p class="subtitle">
      {% blocktranslate %}
            It is a tool for organize my documentary watch . When I read posts website,
            sometimes, I would like to read other old posts on the same topic but I can't find them.
            This tool should allow me to keep an overview on a given subject.
            This project is for my personal use but I share on public repository as a portfolio's project.
       {% endblocktranslate %}
    </p>
  </div>
</section>
<section class="section">
  <h1 class="title">{% translate "Themes" %}</h1>
   <ul class="collapsible">
                {% for theme in themes %}
               <li>
                    <div class="collapsible-header">

                        {{ theme }}

                    <div class="collapsible-body"><p></p></div>
                </li>
            {% endfor %}
       </ul>
</section>
{% endblock %}