{%  load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>{% translate "Documentary Watch" %}</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">

</head>
<body>
<div class="container">
    <header>
        {% include '_header.html' %}
    </header>
    <main class="container" >
        <div class="row">
            <div class="col s12 m12 ">
              {% block content %} {%  endblock %}
            </div>
        </div>
    </main>
    <footer>
         {% include '_footer.html' %}
    </footer>
       {%  block javascript %}

           <script >

            </script>
        {% endblock %}
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

    // Get all "navbar-burger" elements
  const $collapseElements = Array.prototype.slice.call(document.querySelectorAll('.collapse'), 0);

  // Add a click event on each of them
  $collapseElements.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);
      $target.classList.toggle('is-hidden');

    });
  });

});

</script>
</html>